$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$font-small: 12px;
$font-btn: 14px;
$font-description: 15px;
$nav-tablet: 16px;
$font-middle: 18px;
$font-nav: 22px;
$font-portfolio: 24px;
$font-voronina: 32px;
$font-nav-big: 36px;
$font-big: 48px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$icon-gray: #4e4d4e;
$white: #ffffff;
$black: #000000;
$nav-menu: #f8f8f8;
$active-item: #dcdcdc;
$social: #bcbcbc;
$nav-text: #878787;
$frame-color: #709c54;
$pink-line: #cb98a8;
