$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$font-webapps: 26px;
$text-traffic: 18px;
$traffic-title: 44px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
