.about-me {
  position: relative;
  display: block;
  width: 320px;
  text-align: center;
}

.about-me__title {
  position: relative;
  margin-top: 150px;
  margin-bottom: 430px;

  font-size: $font-middle;
  font-weight: 600;
  text-align: center;
}

.about-me__title::before {
  position: absolute;
  content: "";
  top: -66px;
  left: 159px;

  width: 2px;
  height: 30px;

  background-color: $pink-line;
}

.about-me__left-photo {
  position: absolute;
  content: "";
  top: 220px;

  display: block;
  width: 165px;
  height: 307px;
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  background-image: url("../img/left-hand.jpg");
}

.about-me__left-hand {
  display: none;
}

.about-me__right-photo {
  position: absolute;
  content: "";
  top: 250px;
  right: 0;

  display: block;
  width: 146px;
  height: 307px;
  background-size: cover;
  background-position: 0;
  background-repeat: no-repeat;
  background-image: url("../img/right-hand.jpg");
}

.about-me__right-hand {
  display: none;
}

.about-me__about {
  font-size: $font-btn;
  margin: 0 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.about-me__work {
  display: none;
}

.about-me__mail {
  margin-bottom: 0;
  font-size: $font-btn;
  font-weight: 600;
}

.about-me__tel {
  margin-top: -5px;
  font-size: $font-btn;
  font-weight: 600;
}

.about-me__btn {
  margin-top: 6px;
  margin-left: -4px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 6px;

  color: $black;
  background-color: transparent;

  letter-spacing: 2px;

  font-family: "Source Serif Pro", serif;
  font-size: $font-btn;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  border-bottom: 2px solid $black;
}

.about-me__btn:hover,
.about-me__btn:active {
  border-bottom: 2px solid $frame-color;
}

.about-me__contacts {
  display: block;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 768px;
  }

  .about-me::before {
    position: absolute;
    content: "";
    top: 20px;
    left: 50px;
    width: 50px;
    height: 31px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-image: url("../img/leaf-5.png");
  }

  .about-me::after {
    position: absolute;
    content: "";
    top: -74px;
    right: 20px;
    width: 36px;
    height: 31px;
    background-size: 36px;
    background-repeat: no-repeat;
    background-image: url("../img/leaf-4.png");
  }

  .about-me__title {
    font-size: $font-portfolio;
    margin-top: 180px;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  .about-me__title::before {
    top: -100px;
    left: 52px;
  }

  .about-me__photos {
    display: flex;
  }

  .about-me__left-photo {
    position: static;
    margin-right: 26px;

    width: 306px;
    height: 417px;

    background-image: none;
  }

  .about-me__left-hand {
    display: block;
  }

  .about-me__right-hand {
    display: block;
  }

  .about-me__right-photo {
    position: static;
    margin-top: 50px;

    width: 306px;
    height: 417px;

    background-image: none;
  }

  .about-me__inner-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -90px;
  }

  .about-me__about {
    display: flex;
    text-align: left;
    width: 290px;
    margin-top: -30px;
  }

  .about-me__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 14px;
  }

  .about-me__btn {
    margin-left: 0;
  }

  .about-me__text {
    font-size: $nav-tablet;
    font-weight: 600;
    margin-bottom: 5px;
  }
}

@media (min-width: $desktop-width) {
  .about-me {
    margin-top: 80px;
    width: 1440px;
  }

  .about-me::before {
    top: 10px;
    left: 190px;
    width: 54px;
    height: 34px;
    background-size: 54px;
  }

  .about-me::after {
    top: -100px;
    right: 120px;
    width: 54px;
    height: 48px;
    background-size: 54px;
  }

  .about-me__title {
    font-size: $font-nav-big;
    margin-bottom: 110px;
  }

  .about-me__title::before {
    top: -120px;
    left: 76px;
    height: 40px;
  }

  .about-me__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .about-me__inner-text {
    position: relative;
    flex-direction: column;
    margin-left: 0;
    padding-left: 40px;
    padding-top: 114px;
  }

  .about-me__inner-text::before {
    position: absolute;
    content: "";

    top: 80px;
    right: -70px;

    width: 645px;
    height: 483px;
    background-color: $nav-menu;
    z-index: -1;
  }

  .about-me__inner-text::after {
    position: absolute;
    content: "INSTAGRAM - FACEBOOK ";
    top: 266px;
    right: -240px;
    width: 184px;
    height: 20px;
    letter-spacing: 1px;
    color: $pink-text;
    font-size: $font-btn;
    text-transform: uppercase;
    transform: rotate(90deg);
  }

  .about-me__container {
    margin-left: 0;
  }

  .about-me__mail,
  .about-me__tel {
    margin-bottom: 5px;
    font-size: $font-middle;
    font-weight: 500;
  }

  .about-me__about {
    margin: 0;
    width: 330px;
    font-weight: 500;
    font-size: $font-middle;
  }

  .about-me__wrapper::before {
    position: absolute;
    content: "";
    top: -50px;
    left: -206px;

    width: 378px;
    height: 338px;
    background-color: $nav-menu;
    z-index: -1;
  }

  .about-me__left-photo {
    width: 316px;
    height: 431px;
  }

  .about-me__left-hand {
    width: 316px;
    height: 431px;
  }

  .about-me__right-photo {
    width: 316px;
    height: 431px;
  }

  .about-me__right-hand {
    width: 316px;
    height: 431px;
  }

  .about-me__work {
    display: flex;
    text-align: left;

    width: 313px;
    font-weight: 500;
    font-size: $font-middle;
    font-family: "Source Serif Pro", serif;
  }

  .about-me__btn {
    margin-top: 30px;
    font-size: $nav-tablet;
  }

  .about-me__contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .about-me__text {
    font-size: $font-about;
    font-weight: 600;
    margin: 10px;
  }
}
