.body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;

  font-family: "Source Serif Pro", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .body-wrapper {

    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .body-wrapper {
    width: auto;
  }
}
