.detailed-portfolio {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 320px;
  margin-top: 20px;
}

.detailed-portfolio__photo {
  display: none;
}

.detailed-portfolio__description-text {
  position: absolute;

  top: 104px;
  left: 48px;
  right: 24px;
  font-size: 14px;
  color: $white;
}

.detailed-portfolio__title {
  font-size: $font-middle;
  font-weight: 600;
}

.detailed-portfolio__btn {
  position: relative;

  margin-top: 6px;
  margin-left: -4px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 6px;

  color: $white;
  background-color: transparent;

  letter-spacing: 2px;

  font-family: "Source Serif Pro", serif;
  font-size: $font-btn;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  border-bottom: 2px solid $white;
}

.detailed-portfolio__btn:hover,
.detailed-portfolio__btn:active {
  border-bottom: 2px solid $frame-color;
}

.detailed-portfolio__btn::before {
  position: absolute;
  content: "";

  right: -32px;
  bottom: -2px;
  width: 26px;
  height: 26px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../img/pdf-icon.svg");
}

@media (min-width: $tablet-width) {
  .detailed-portfolio {
    margin-top: 150px;
    width: 764px;
    background-color: transparent;
  }

  .detailed-portfolio__photos {
    position: absolute;
    width: 602px;
    height: 298px;
    top: -28px;
    left: 0;
    background-color: $nav-menu;
    z-index: -1;
  }

  .detailed-portfolio__photos img {
    display: none;
  }

  .detailed-portfolio__description-text {
    position: static;
    display: flex;
    flex-direction: column;
    margin-left: 116px;
    margin-right: 62px;
    padding-top: 70px;
    padding-left: 153px;

    width: 582px;
    height: 343px;
    color: $black;
    box-sizing: border-box;
    background-color: transparent;
    border: 8px solid $frame-green;
  }

  .detailed-portfolio__description-text::before {
    position: absolute;
    content: "";
    top: 37px;
    left: 0;
    width: 260px;
    height: 274px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/dish-eggs-tablet.jpg");
  }

  .detailed-portfolio__title {
    margin-top: 0;
    width: 264px;
    font-size: $font-portfolio;
  }

  .detailed-portfolio__description {
    margin-top: 0;
    width: 234px;
    font-size: $nav-tablet;
  }

  .detailed-portfolio__btn {
    width: 160px;
    color: $black;
    border-color: $black;
    font-weight: bold;
  }

  .detailed-portfolio__btn::before {
    right: -50px;
    bottom: -10px;
    width: 32px;
    height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .detailed-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
  }

  .detailed-portfolio__photos {
    top: -40px;
    width: 970px;
    height: 373px;
  }

  .detailed-portfolio__description-text {
    padding-top: 100px;
    padding-left: 240px;

    width: 709px;
    height: 468px;
  }

  .detailed-portfolio__title {
    font-size: $font-portfolio;
  }

  .detailed-portfolio__description-text::before {
    top: 48px;
    width: 610px;
    height: 374px;
    background-image: url("../img/dish-eggs.jpg");
  }

  .detailed-portfolio__description-text::after {
    position: absolute;
    content: "INSTAGRAM - FACEBOOK ";
    top: 162px;
    right: -34px;
    width: 184px;
    height: 20px;
    letter-spacing: 1px;
    color: $pink-text;
    font-size: $font-btn;
    text-transform: uppercase;
    transform: rotate(90deg);
  }

  .detailed-portfolio__description {
    width: 260px;
    font-size: $font-middle;
  }

  .detailed-portfolio__btn {
    margin-left: 0;
    width: 200px;
    font-size: $nav-tablet;
  }
}
