.detailed-portfolio {
  display: flex;
  flex-direction: column;

  width: 320px;
}

@media (min-width: $tablet-width) {
  .detailed-portfolio {
    width: 764px;
  }
}

@media (min-width: $desktop-width) {
  .detailed-portfolio {
    width: 1440px;
  }
}
