.main-nav {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0;

  outline: 1px solid red;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 764px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1440px;
  }
}
