.page-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 320px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 764px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1440px;
  }
}
