.page-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  // width: 320px;
  align-items: center;
  width: auto;

  z-index: 0;
  // outline: 1px solid red;
}

@media (min-width: $tablet-width) {
  .page-main {
    width: 764px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    width: 1440px;
  }
}
