.page-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 320px;
  margin: 0 auto;

  z-index: 0;
  outline: 1px solid red;
}

@media (min-width: $tablet-width) {
  .page-main {
    width: 764px;
  }
}

@media (min-width: $mobile-width) {
  .page-main {
    width: 1440px;
  }
}
