.page-footer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 320px;
  // outline: 1px solid red;
}

.page-footer__container {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-footer {
    margin-top: 0;
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 1440px;
  }
}
