.social {
  display: flex;
}

.social__list {
  display: flex;
  width: 250px;
  justify-content: center;
  padding: 0;

  list-style: none;
}

.social__item {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  background-color: white;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

.social__link--facebook {
  background-image: url("../img/facebook-icon.svg");
}

.social__link--instagram {
  background-image: url("../img/instagram-icon.svg");
}

.social__link--vk {
  background-image: url("../img/vk-icon.svg");
}

.social__link--pinterest {
  background-image: url("../img/pinterest-icon.svg");
}

@media (min-width: $tablet-width) {
  .social__list {
    display: flex;
    align-items: center;
    width: 250px;
    height: 66px;

    list-style: none;
  }

  .social__item {
    width: 34px;
    height: 34px;
  }

  .social__link {
    width: 34px;
    height: 34px;
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    width: 250px;
  }
}
