img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Source Serif Pro", serif;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/sourceserifpro-light.woff2") format("woff2"), url("../fonts/sourceserifpro-light.woff") format("woff");
}

@font-face {
  font-family: "Source Serif Pro", serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/sourceserifpro-regular.woff2") format("woff2"), url("../fonts/sourceserifpro-regular.woff") format("woff");
}

@font-face {
  font-family: "Source Serif Pro", serif;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/sourceserifpro-semibold.woff2") format("woff2"), url("../fonts/sourceserifpro-semibold.woff") format("woff");
}

@font-face {
  font-family: "Source Serif Pro", serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/sourceserifpro-bold.woff2") format("woff2"), url("../fonts/sourceserifpro-bold.woff") format("woff");
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
